.git
.gitignore
.dvc/config.local
.dvc/cache
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.venv
venv
.DS_Store
.github
.pre-commit-config.yaml
README.md
LICENSE
docs/
notebooks/
tests/
artifacts/
wandb/
